@font-face {
	font-family: 'digital-7_monomono';
	src: url('fonts/digital-7_mono-webfont.woff2') format('woff2'),
	url('fonts/digital-7_mono-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

#Digital_clock{
	height: 8vw;
}

#time{
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-family: 'digital-7_monomono';
}

#date{
	display: flex;
	justify-content: center;
}

label{
	font-size: 18px;
	font-family: cursive;
}

input{
	font-family: monospace;
	font-size: 15px;
	border-radius: 5px;
	width: 30%;
}

button{
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
	background-color: rgba(0, 128, 0, 0.6);
	border-radius: 10px;
	padding: 5px;
}

button:hover{
	transition-duration: 3s;
	background-color: rgba(0, 128, 0, 1);
}


.task_2_4{
	display: grid;
	grid-template-columns: auto auto;
	height: 11vw;

}

#circle{
	padding-left: 20px;
	background-color: rgba(0, 128, 0, 0.3);
}

#tips_calc{
	padding-left: 20px;
	background-color: rgba(0, 0, 128, 0.3);
}


.content{
	display: grid;
	grid-template-columns: auto auto auto ;
	
}